<table>
 <% @reservations.each do |reservation| %>


 <%= reservation.parking.user.name%>
 <%= reservation.parking.price%>円
 <%= reservation.start_day.strftime('%Y年%-m月%-d日') %>
 <%= reservation.end_day.strftime('%Y年%m月%d日') %>



 <% end %>
 </table>