<h2>gmap</h2>

<%= form_with url: map_request_path, method: :get do |f|%>

<%= f.text_field :address %>
<%= f.submit '地図表示'%>

<% end %>

<div id='map'></div>

<style>
#map{
  height: 400px;
}
</style>

<script>
	let mapInstance
function initMap(){
  mapInstance = new google.maps.Map(document.getElementById('map'), {
  center: {lat: -34.397, lng: 150.644},
  zoom: 8
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWd5FVOLqsE5hizPcnsZNl4O5noZnnLPI&callback=initMap" async defer></script>
